*{
  padding:0;
}
body{
  background-color: black;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding-bottom: 40px;
}

:root{
--font-color:white;
--mobile-menu-font-size:16px;
--mobile-version-font-weight:200;
--button-tex-color:black;
--border-radius:8px 8px 8px 8px;
--display-flex: flex column;
--text-align: center;
--btn-brd-radius:5px 5px 5px 5px;
--transition-duration:0.3s;
--background-color-for-submenu:rgba(0, 0, 0, 01);
--padding-left-submenu:20px;
--padding-top-submenu:20px;
}

/*Header-style-start*/


header{
  margin-top: 10px;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../images/intense.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 100%;
  position: relative;
}
nav{
  max-width: 800px;
  margin: auto;
  margin-top: 10px;
  width: 100%;
}
.mobile-logo img{
  width:90px;
  margin: auto;
  display: flex;
  padding-top:5px;
}
.logo-orginal{
  display: none;
}
ul{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  flex-wrap: wrap;
  list-style-type: none;
  margin: auto;
}

.menu{
  position: relative;
}

ul li a{
  color: var(--font-color);
  padding: 10px;
  font-weight: 300;
  font-size: var(--mobile-menu-font-size);
  transition-duration: var(--transition-duration);
  text-decoration: none;
}
ul li a:hover{
  font-weight: 600;
}
.active{
  text-decoration: underline;
}
.submenu{
  position: absolute;
  color: var(--font-color);
  font-weight: 100;
  width: 140px;
  display: none;
  background-color: var(--background-color-for-submenu);
  line-height: 3;
  padding-top: var(--padding-top-submenu);
  padding-left:var(--padding-left-submenu);
  cursor: pointer;
}

.menu li:hover > .submenu {
  display: block;
}

.header-text{
  color: var(--font-color);
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 250px;
  line-height: 0.1;
}
.header-text h1{
  font-weight: 800;
}

.header-text p{
  font-weight: var(--mobile-version-font-weight);
}

.hero-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin: auto;
  background-color: #F54901;
  width: 160px;
  height: 30px;
  border-radius: var(--btn-brd-radius);
 
}
.hero-btn a{
  text-decoration: none;
  color: var(--font-color);
  font-weight: 600;
  
}

/*main start here*/
.container{
  margin-top: 40px;
  color: var(--font-color);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-weight: var(--mobile-version-font-weight);
}
.movie-container{
  display: var(--display-flex);
  text-align:var(--text-align);
  margin: 10px;
}
.movie-container img {
  max-width: 190px;
  height: 259px;
  border-radius: var(--border-radius);
}
.movie-container img:hover{
  background: var(--background-color-for-submenu);
  border: 1px solid white;
  
}
/*slider*/

.slider {
  max-width: 800px;
  height: 350px;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/*footer-style*/
.menu-footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: right;
  margin: 0px 20px 20px 0px;
  
}
.menu-footer a img{
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 800px) {
  
  .navigation{
    max-height: 100px;
    background-color: white;
  }

  nav ul li{
    margin-bottom: 20px;
  }
  
  nav ul li a{
    color: black;
  
  }
  .submenu{
    background-color: white;
  }
  header{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)), url("../images/intense.jpeg");
    background-position: center;
    max-width: 1920px;
    margin: auto;
  }
  .container{
    max-width: 920px;
    margin: auto;
    margin-top: 40px;
  }
  .menu-footer{
    display: none;
  }
  .logo-white{
    display: none;
  }
  .logo-orginal{
    display: block;
  }
  .submenu{
    line-height: 2;
  }
  .slider {
    
    max-width: 800px;
    height: auto;
    display: flex;
    flex-direction: row;
    }
  
}
  